%head
  = partial 'partials/shared/head/hint'

  = partial 'partials/shared/head/title'

  = partial 'partials/shared/head/meta_tags'

  = partial 'partials/shared/head/links'

  = partial 'partials/errors/head/stylesheets'

  = partial 'partials/shared/head/javascripts'